.swiper-wrapper {
  min-height: 400px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  align-items: center;
}
.swiper-pagination-bullet-active {
  background-color: #59321b !important;
}
